{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section class="banner">
    <div class="carousel">
        <!-- Vídeo -->
        <div class="carousel-item active">
            <video autoplay muted loop>
                <source src="{% static 'home/video/CAB.mp4' %}" type="video/mp4">
                Seu navegador não suporta vídeos.
            </video>
        </div>
    <!-- Botões de Navegação -->
    <button class="carousel-btn prev">&lt;</button>
    <button class="carousel-btn next">&gt;</button>
</section>
<!-- Seção de produtos -->
<section id="produtos" class="produtos">
    <h2>Produtos em Destaque</h2>
    <div class="produto-grid">
        {% for produto in produtos %}
        <div class="produto-item">
            <a href="{% url 'products:produto_view'  produto.id %}" style="text-decoration: none; color: black;">
            <!-- Verificando se a imagem existe, caso contrário coloca uma padrão -->
            <img src="{% if produto.imagem %}{{ produto.imagem.url }}{% else %}{% static 'default_product_image.jpg' %}{% endif %}" alt="{{ produto.nome }}">
            <h3>{{ produto.nome }}</h3>
            <p>R$ {{ produto.preco }}</p>
        </a>
            <!-- Link para adicionar o produto ao carrinho -->
            <a href="{% url 'orders:adicionar_ao_carrinho' produto.id %}">
                <button>Adicionar ao carrinho</button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}

