/* Barra de busca */
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container form{
    display: flex;
    border: 2px solid black;
    align-items: center;
    height: 40px; /* Ajuste para altura do formulário */
    padding: 0 10px; /* Espaçamento interno */
    position: relative; /* Necessário para que o botão posicionado como absoluto fique dentro do formulário */
    width: 100%; /* Ajuste para controle do tamanho */
    gap: 10px;
    
}

.search-container form:focus-within{
    border-color: blue;
    
}

#search-button{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: transparent;
    cursor: pointer;
}

.search-bar{
    border: none;
    background-color: transparent;
    width: 100%;
    padding-right: 20px;
}
.search-bar:focus{
    outline: none; /* Remove o contorno padrão */
    box-shadow: none; /* Remove qualquer sombra aplicada no focus */
    border-color: initial; 
}






/* Estilo geral para o contêiner de resultados */
.resultados {
    text-align: center;
    margin-top: 20px;
}

.resultados h1 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Estilo para o contêiner dos itens */
.itens_do_resultado_de_busca {
    margin: 0 auto;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista */
.itens_do_resultado_de_busca ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0;
    margin: 0;
}

/* Estilo para os itens */
.itens_do_resultado_de_busca li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.itens_do_resultado_de_busca li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

/* Estilo do nome e preço do produto */
.itens_do_resultado_de_busca li strong {
    font-size: 18px;
    color: #555;
}

.itens_do_resultado_de_busca li {
    font-size: 16px;
    color: #666;
}

/* Estilo para mensagens sem resultados */
.itens_do_resultado_de_busca p {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-top: 20px;
}

/* Botão "Voltar" */
.itens_do_resultado_de_busca a {
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Hover para o botão "Voltar" */
.itens_do_resultado_de_busca a:hover {
    background-color: #0056b3;
}