{% extends "home/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="bem-vindo">
        <h1>Seja bem-vindo {{ user.first_name }}</h1>
    </div>
{% endif %}

<section class="banner">
            <img src="{% static 'home/img/imagens-do-banner/cab.jpg' %}" alt="Slide 1">
            <img src="{% static 'home/img/imagens-do-banner/banner.jpg' %}" alt="Slide 2">
        </div>
        <button class="carousel-btn prev">&lt;</button>
        <button class="carousel-btn next">&gt;</button>
</section>

<!-- Seção de produtos -->
<section id="produtos" class="produtos">
    <h2>Produtos em Destaque</h2>
    <div class="produto-grid">
        {% for produto in produtos %}
        <div class="produto-item">
            <!-- Verificando se a imagem existe, caso contrário coloca uma padrão -->
            <img src="{% if produto.imagem %}{{ produto.imagem.url }}{% else %}{% static 'default_product_image.jpg' %}{% endif %}" alt="{{ produto.nome }}">
            <h3>{{ produto.nome }}</h3>
            <p>R$ {{ produto.preco }}</p>

            <!-- Link para adicionar o produto ao carrinho -->
            <a href="{% url 'orders:adicionar_ao_carrinho' produto.id %}">
                <button>Adicionar ao carrinho</button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}

