{% load static %}<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/css/components/header.css" %}">
    <link rel="stylesheet" href="{% static "home/css/search.css" %}">
    <link rel="stylesheet" href="{% static "home/css/banners.css" %}">
    <link rel="stylesheet" href="{% static "home/css/products.css" %}">
    <link rel="stylesheet" href="{% static "home/css/components/footer.css" %}">
    <link rel="stylesheet" href="{% static "home/css/components/menu.css" %}">
    <link rel="stylesheet" href="{% static "home/css/components/forms.css" %}">
    <link rel="stylesheet" href="{% static "home/css/carrinho.css" %}">
    <link rel="stylesheet" href="{% static "home/css/pagamento.css" %}">
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="shortcut icon" href="{% static "home/img/icon/C.png" %}" type="image/x-icon">
</head>