{% load static %}
<header>
    
    <div class="menu-hamburguer" id="menu-hamburguer">
        &#9776;
    </div>

    {% if user.is_authenticated %}
        <div class="bem-vindo">
            <h1>Olá, {{ user.first_name }}</h1>
        </div>
    {% endif %}
    <div class="logo-container">
        <a href="{% url 'home:index' %}">
            <img src="{% static 'home/img/logo_site.png' %}" class="logo_site" alt="Logo do site">
        </a>
    </div>
    
    <div class="carrinho_icon_container">
        <a href="{% url "orders:carrinho" %}">
            <i class="fas fa-shopping-cart" style="color: white; "></i>
            
        </a>
    </div>
</header>

