{% extends "home/base.html" %}

{% block content %}

<div class= 'create_user'>
    <form 
        class='cadastro_cliente_form'
        action="{{form_action}}"
        method="POST"> 
        
        {% csrf_token %}
        {% for field in form %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
            {% if field.errors  %}
                <div class="errors_create_account">
                    {{field.errors}}
                </div>
            {% endif %}
        {% endfor %}
        <button class= button type="submit">Criar Conta</button>
        
            <a href="{% url "authentication:login" %}">login</a>
        
    </form>
</div>
{% endblock content %}