{% extends "home/base.html" %}
{% block search_bar %}
{% endblock %}
{% block content %}
<div class="login_container">
    <form 
    class="login_form"
    action="{{form_action}}"
    method="POST"
    >
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{form.non_field_errors}}
        {% endfor %}

        <button type="submit">entrar</button> 
       
        <div class="create_account_container">
            <a href="{% url "authentication:create_account" %}">Não tem conta? Crie aqui</a>
            <a href="{% url "authentication:esqueci_senha" %}">Esqueci a senha</a>
        </div>
    </form>
</div> 
{% endblock content %}