{% load static %}
<header>
    
    <div class="menu-hamburguer" id="menu-hamburguer">
        &#9776;
    </div>

    {% if user.is_authenticated %}
        <div class="bem-vindo">
            <h1>Olá, {{ user.first_name }}</h1>
        </div>
    {% endif %}
    <div class="logo-container">
        <a href="{% url 'home:index' %}">
            <img src="{% static 'home/img/logo_site.png' %}" class="logo_site" alt="Logo do site">
        </a>
    </div>
    
        <i class="fas fa-search" id="icon-search" style="font-size: 24px; color: white; margin-right: 30px;"></i>
    
    <div class="search-container" id="search-container">
        <form method="GET" action="{% url 'home:busca' %}">
            <div class="search-bar">  
                <input type="text" class="search-bar" name="q" placeholder="Buscar produtos..." required>
                <button type="submit" class="search-button">Buscar</button>
            </div>
        </form>
    </div>
   

   
    <div class="carrinho_icon_container">
        <a href="{% url "orders:carrinho" %}">
            <i class="fas fa-shopping-cart" style="color: white; "></i>
            
        </a>
    </div>
</header>

