{% extends "home/base.html" %}
{% block title %}CAB TECH- CARRINHO DE COMPRAS{% endblock %}
{% load static %}
{% block search_bar %}{% endblock search_bar %}
{% block content %}
<h1>Carrinho de Compras</h1>
<div class="main-conateiner-carrinho">
    {% if carrinho.itempedido_set.all %}
        <table class="carrinho-tabela">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrinho.itempedido_set.all %}
                    <tr>
                        <td>
                            {% with item.produto.imagens.first as imagem %}
                                <img src="{% if imagem %}{{ imagem.imagem.url }}{% else %}{% static 'default_product_image.jpg' %}{% endif %}" 
                                     alt="{{ item.produto.nome }}" 
                                     class="imagem-produto">
                            {% endwith %}
                            {{ item.produto.nome }}
                        </td>
                        <td>R$ {{ item.preco }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ item.total }}</td>
                        <td>
                            <a href="{% url 'orders:removeritem' item.id %}" class="removeritem">Remover Item</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
jw            
        </table>

        <div class="carrinho-total-container">
            <div class="carrinho-total">
                <h3>Total: R$ {{ carrinho.total }}</h3>
                <a href="{% url "pagamento:checkout" %}" style="text-decoration: none; color: white;">Finalizar Compra</a>
            </div>
    {% else %}
        <p>Seu carrinho está vazio. Adicione produtos para continuar.</p>
    {% endif %}
</div>
{% endblock %}
