{% extends "home/base.html" %}
{% block search_bar %}{% endblock search_bar %}
{% block content %}



<div class="meuspedidos-main-container">
    <h1>Meus Pedidos</h1>
    {% if pedidos %}
        <table border="1">
            <tr>
                <th>ID do Pagamento</th>
                <th>Valor</th>
                <th>Método</th>
                <th>Data do Pedido</th>
                
            </tr>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>R$ {{ pedido.valor }}</td>
                <td>{{ pedido.metodo_pagamento }}</td>
                <td>{{ pedido.data_pagamento|date:"d/m/Y " }}</td>
               
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Você ainda não tem pedidos aprovados.</p>
    {% endif %}
</div>
{% endblock content %}